body {
    background-color: yellow;
}

h1 {
    background-color: #00ff00;
}

h2 {
    background-color: transparent;
}

h3 {
    background-color: green;
}

h4 {
    background-color: lime;
}

p {
    font-size: 16px;
    background-color: rgb(255, 0, 255);
}

p.no2 {
    background-color: gray;
    padding:20px;
}

p.list {
    background-color: blue;
    padding: 40px;
}


/* 设置超链接 */
/** 这种方式不是太常用
 * 助记LoVe,HAte
a:link {
    color: red;
    text-decoration: none;
}
a:visited {
    color: purple;
    text-decoration: none;
}
a:hover {
    color: green;
    text-decoration: underline;
    cursor: help;
}
a:active {
    color: blue;
    text-decoration: none;
}
*/
a {
    color: red;
    text-decoration: none;
}
a:hover {
    color: green;
    text-decoration: underline;
    cursor: help;
}


span { cursor: pointer; }
div {
    width: 100px;
    height:100px;
    font-size: 32px;
}


.nav-box {
    background-color: #B1191A;
    width: 210px;
    height: 800px;
}
.nav-top {
    height: 45px;
    font-size: 16px;
    line-height: 45px;
    padding: 0 10px;
    background-color: #B1191A;
    color: #fff;
}

.myshopping {
    width: 80px;
    height: 35px;
    border: 1px #dfdfdf solid;
    padding-left: 30px;
    line-height: 35px;
    font-size: 16px;
    background: url("../images/buy.png") #f9f9f9 no-repeat 10px center;
}

#hometown {
    background-color: brown;
}