# OS temp-file
.DS_Store

# Compiled Object files
*.slo
*.lo
*.o
*.out

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# eclipse
workspace/.metadata

# idea
.idea/workspace.xml

# npm
node_modules
