<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.imooc.mapper.DataDictMapper">
  <resultMap id="BaseResultMap" type="com.imooc.pojo.DataDict">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="type_name" jdbcType="VARCHAR" property="typeName" />
    <result column="type_code" jdbcType="VARCHAR" property="typeCode" />
    <result column="ddkey" jdbcType="VARCHAR" property="ddkey" />
    <result column="ddvalue" jdbcType="VARCHAR" property="ddvalue" />
    <result column="is_show" jdbcType="INTEGER" property="isShow" />
  </resultMap>
  <resultMap id="BaseResultMap" type="com.imooc.pojo.DataDict">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="type_name" jdbcType="VARCHAR" property="typeName" />
    <result column="type_code" jdbcType="VARCHAR" property="typeCode" />
    <result column="ddkey" jdbcType="VARCHAR" property="ddkey" />
    <result column="ddvalue" jdbcType="VARCHAR" property="ddvalue" />
    <result column="is_show" jdbcType="INTEGER" property="isShow" />
  </resultMap>
</mapper>