<!doctype html>
<html lang="en">

<head>
  <title>Django Blog Demo</title>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>
  <div class="container">
    <div class="row page-header bg-darkmagenta" style="margin: 20px 0; background-color: aquamarine">
      <div class="col-md-10">
        <h1>哈利·波特 （J.K.罗琳创作魔幻系列小说）
          <small>哈利波特一般指哈利·波特（J.K.罗琳创作魔幻系列小说）</small>
        </h1>
      </div>
    </div>
    <div class="row page-body">
      <div class="col-md-9" role="main">
        <div>
          <h2>哈利·波特与魔法石</h2>
          <h4>Harry Potter and the Philosopher's Stone</h4>
          <p>
            从小被寄养在姨丈家里的哈利波特，饱受姨丈一家人的歧视与欺侮，然而就在11岁生日那天，哈利波特得知了自己原本是巫师，并且被录取为霍格沃茨魔法学校中的一员。登上霍格沃茨特快列车，哈利开始了他的魔幻旅程，一切都那么新奇，在那里，他第一次有了自己的好朋友：罗恩和赫敏。许多魔法课程也正在等着他研习：有飞行课、黑魔法防御术、魔药学与变形魔法等等，当然还有让所有魔法师疯狂的魁地奇球赛。
            另一方面，魔药学的斯内普教授似乎总是对哈利不友善；哈利也无意间发现了魔法石的秘密。邪恶的阴谋在平静的霍格沃茨里悄悄地滋长，哈利、罗恩与赫敏决定一同去探个究竟，凭借他们的勇敢智慧，哈利最终阻止邪恶阴谋的发生保护了魔法石，同时哈利也第一次直面他的宿敌：伏地魔。
          </p>
        </div>
        <div>
          <h2>哈利·波特与密室</h2>
          <h4>Harry Potter and the Chamber of Secrets</h4>
          <p>
            哈利波特被困在了姨妈家里，幸亏罗恩及时前来搭救，使哈利在罗恩家愉快地度过了剩余的假期。小精灵多比劝诫并用一切手段阻止哈利回学校，被关在站台外的哈利和罗恩只能私自开飞车回到学校。
            传说中的密室被斯莱特林的继承人打开，哈利因为会蛇佬腔被所有人怀疑，哈利发现一本神秘的日记记录了汤姆·里德尔50年前的记忆，随之恐怖袭击事件在原本平静的校园内不断发生。罗恩的妹妹金妮被带到密室，墙上留下了密室的血字警告。霍格沃茨面临被迫关闭的危机。
            哈利终于找到密室入口，迎接他的将是可怕的挑战。最终金妮苏醒，伏地魔留下的神秘日记被销毁，哈利挽救了霍格沃茨。
          </p>
        </div>
        <div>
          <h2>哈利·波特与阿兹卡班囚徒</h2>
          <h4>Harry Potter and the Prisoner of Azkaban</h4>
          <p>
            哈利波特十分不情愿的在姨妈家里度暑假，得不到魔法界的一切消息，罗恩和赫敏的信便成了他的唯一安慰。玛姬姑妈前来探望哈利的姨夫，哈利因为受不了她对哈利父母的污蔑，把玛姬姑妈变成了一个胀大的气球。害怕受到惩罚的哈利逃进夜幕，于是开始了新的冒险。
            慌乱中哈利看到一条黑色的大狗，而在魔法界这是死亡的象征。在回学校的火车上，哈利见识到了传说中的摄魂怪，许多可怕的感觉包围着他。学校里哈利又看到了那条象征死亡的大狗，此时哈利也知道了他父母的死因，一切都归罪于小天狼星布莱克。哈利决定报仇。
            卢平教授传授哈利抵制摄魂怪的魔法，在活点地图的帮助下，哈利终于在尖叫棚屋里找到了小天狼星。小天狼星用魔杖直指罗恩的宠物斑斑，随着斑斑化成人形，小天狼星讲述了事情的真相，眼看小天狼星要恢复清白，斯内普破坏了这一切。
            小天狼星被捕了，哈利不忍自己的教父受摄魂怪的折磨，在校长邓布利多的指导下帮助小天狼星逃脱。
          </p>
        </div>
      </div>
      <div class="col-md-3" role="complementary">
        <div>
          <h2>最新文章</h2>
          <h4><a href="detail.html">最近文章01</a></h4>
          <h4><a href="detail.html">最近文章02</a></h4>
          <h4><a href="#">最近文章03</a></h4>
          <h4><a href="#">最近文章04</a></h4>
          <h4><a href="#">最近文章05</a></h4>
          <h4><a href="#">最近文章06</a></h4>
          <h4><a href="#">最近文章07</a></h4>
          <h4><a href="#">最近文章08</a></h4>
          <h4><a href="#">最近文章09</a></h4>
          <h4><a href="#">最近文章10</a></h4>
          <h4><a href="#">最近文章11</a></h4>
        </div>
      </div>
    </div>
  </div>

  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
  </script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
  </script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
  </script>
</body>

</html>